*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: lato;
    height: 3000px;
}
ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small Screen  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium Screen  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Larg Screen  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Start Heading  */ 

header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: #0b0b0b;

}
header .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
header .logo img {
    height: 35px;
    top: 3px;
    position: relative;
}
header  nav {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 97px;
    position: relative;
    margin-left: 40px;
}
header nav ul {
    display: flex;
}
header nav ul li a {
    position: relative;
    display: block;
    padding: 40px 15px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s;
}
header nav ul li a::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    background-color: #1fde81;
    left: 15px;
    bottom: 20px;
    transition: 0.3s;
}
header nav ul li a:hover:after{
    width: 40%;
}
header nav ul li a:hover{
    color: #1fde81;
}
header nav ul li a.active::after{
    width: 40%;
}
header nav ul li a.active{
    color: #1fde81;
}
header .add{
    display: flex;
    align-items: center;
}
header .add i{
    color: white;
    margin-right: 10px;
}
header .add h3 {
    color: white;
    font-size: 16px;
}
header nav .button button {
    color: black;
    background-color: #1fde81;
    border: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 15px;
    cursor: pointer;
    transition: 00.3s;
}
header nav .button button:hover{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}
header nav .toggle  {
    color: white;
    font-size: 30px;
    position: absolute;
    right: 0px;
}
@media (min-width: 768px) {
    header nav .toggle {
        display: none;
    }
}
@media (max-width: 767px){
    header nav ul,
    .button, header .add {
        display: none;
    }
}
@media (max-width: 991px){
    header nav ul li a {
        font-size: 14px;
        padding: 40px 10px;
    }
    header nav .button button {
        font-size: 14px;
        
    }
    header .add h3 {
        font-size: 14px;
    }
}

/* start Landing */
.section {
    position: relative;
    background-image: url(../images/man-working-night.jpg);
    background-size: cover;
    min-height: 90vh;
    
}
.section .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    left: 10%;
}
@media (max-width: 767px) {
    .section .text {
        left: 0;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .section {
        background-image: url(../images/man-working-night-phone.jpg);
    }
  }
.section .text .content {
    max-width: 500px;
}

.section .text .content h2 {
    font-size: 80px;
    font-weight: bold;
    color: white;
    line-height: 1.3;
  }
.section .text .content p {
    color: white;
    line-height: 1.6;
}
@media (max-width: 767px) {
.section .text .content h2 {
    color: white;
    font-size: 60px;
    line-height: 1.5;
  }
  .section .text .content p {
      color: white;
      font-size: 25px;
  }
}
.section .text .content .land-butn{
    color: black;
    background-color: #1fde81;
    border: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 20px;
    margin-top: 10px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px #1fde8178;
}
.section .text .content .land-butn:hover {
    color: white;
    background-color: #3c39f6;
}
/* End Landing */
/* Start Ex Landing */

.ex-landing .land-box {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-color: white;
    box-shadow: 0 0 50px 0 #3b39f52e;
    top: -60px;
    align-items: center;
}

.ex-landing .title-box{
    width: 50%;
}
@media (max-width: 768px) {
    .ex-landing .land-box{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .ex-landing .title-box{
        width: 100%;
    }
}
.ex-landing .land-box .land-img img {
    height: 250px;
}
.ex-landing .land-box .title-box .text h3 {
    color: #3c39f6;
    font-size: 50px;
    margin-bottom: 20px;
}
.ex-landing .land-box .title-box .text h3 span{
    color: #1fde81;
}

.ex-landing .land-box .title-box .text p {
    line-height: 1.3;
    color: #777;
    margin-bottom: 20px;
}
.ex-landing .land-box .title-box .text button {
    color: black;
    background-color: #1fde81;
    border: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 20px;
    margin-top: 10px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px #1fde8178;
}
.ex-landing .land-box .title-box .text button:hover{
    background-color: #3c39f6;
    color: white;
}

.up-home a {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #3c39f6;
    width: 50px;
    height: 50px;
    z-index: 3;
    color: #1fde81;
    font-size: 30px;
    text-align: center;
    margin: 30px;
    padding-top: 7px;
    border-radius: 5px;
}
/* End Ex Landing */